[*.cs]

# CS8603: Null 参照戻り値である可能性があります。
dotnet_diagnostic.CS8603.severity = none

# CS8604: Null 参照引数の可能性があります。
dotnet_diagnostic.CS8604.severity = none

# CS8618: null 非許容のフィールドには、コンストラクターの終了時に null 以外の値が入っていなければなりません。'required' 修飾子を追加するか、Null 許容として宣言することを検討してください。
dotnet_diagnostic.CS8618.severity = none
